/* ||| GENERAL RULE */
:root {
    --bg-color: #4ECDC4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Patrick Hand', cursive;
    font-weight: 500;
    background-color: aliceblue;
}


.text-center {
    text-align: center !important;
}
.block {
    display: block;
}

/* ||| ELEMENT RULE */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: grey;
}
header::before {
    content: "";
    display: block;
    clear: both;
}
nav button {
    line-height: 50px;
    border:none;
    padding: 0 20px;
    background-color: grey;
    font-weight: 400;
    font-size: 17px;
    min-width: 120px;
}

main { 
    margin: 0 7vw;
    margin-top: 50px;
}

/* || MEMBER CARD */
    /* CSS Module: Card Member*/
    .member-card {
        display: inline-block;
        width: 50%;
        height: auto;
        padding: 12px;
        position: relative;
        opacity: 0.9;
    }
    .member-card:hover {
        background-color: rgba(238, 238, 238, 0.5);
        opacity: 1;
        border-radius: 5px;
    }
    .member-card .card-image img {
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
        border-radius: 50%;
    } 
    .member-card .member-name {
        /* line-height: 25px; */
        font-size: 1.6rem;
        text-align: center;
        padding: 0 5px;
        margin: 5px 0;
        background-color: aliceblue;
        border-radius: 10px;
    }
    .member-card .subject-name {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: table;
        font-size: 1.4rem;
        margin: 0 auto;
        padding: 0 5px;
        background-color: brown;
        border-radius: 5px;
        opacity: 0.8;
    }
    /* ......................................... */
    /* CSS Module: Head Teacher Card */
    .head-teacher-cards {
        /* width: 100%; */
        position: relative;
        padding: 7px;
    }
    .head-teacher-cards:hover .head-teacher-card-image {
        animation: up-image 0.7s;
    }
    @keyframes up-image {
        from {transform: translateY(0);}
        to {transform: translateY(-25px);}
    }
    .head-teacher-cards .head-teacher-card-image img {
        aspect-ratio: 10/16;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .head-teacher-cards .head-teacher-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 33.33%;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 5px;
    }
    .head-teacher-cards .head-teacher-content .head-teacher-name {
        font-size: 25px;
        line-height: 35px;
        margin: 0 5px;
    }
    .head-teacher-cards .head-teacher-content .subject-name {
        position: absolute;
        top: 15px;
        right: 15px;
        display: table;
        font-size: 1.4rem;
        padding: 0 5px;
        background-color: brown;
        border-radius: 5px;
        opacity: 0.8;
    }
    /* ......................................... */
.member-title{
    font-size: 2.5rem;
    margin: 8px 0 -5px 0;
}
#student-member-container {
    display: block;
}
.group-member-container {
    display: flex;
    margin: 10px 0;
}
.group-member-part-container {
    width: calc(100%/4);
    margin: 10px 4px;
    justify-content: space-between;
    background-color: pink;
    border-radius: 10px;
    border: 1px groove rgba(0, 0, 0, 0.2);
}
.group-member-cards {
    display: flex;
    flex-wrap: wrap
}
.group-member-title {
    font-size: 20px;
    line-height: 25px;
    margin: 5px;
}
/* teacher */
#teacher-member-container {
    display: block;
}
.teacher-member-cards {
    display: flex;
    margin: 20px 0;
}
.head-teacher-cards {
    width: 25%;
    height: auto;
    margin-right: 3px;
    background-color: pink;
    border-radius: 10px;
    border: 1px groove rgba(0, 0, 0, 0.2);
}
.subject-teacher-card {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: auto;
    margin-left: 3px;
    background: linear-gradient(to right,  rgba(168, 192, 255, 0.5), rgba(63, 43, 150, 0.5));
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.subject-teacher-card > section{
    width: 16.66%;
}
.subject-teacher-card .subject-name {
    bottom: 15px;
}
.subject-teacher-card .member-card{
    padding-bottom: 25px;
}

/* ......................... */
#home {
    width: 100%;
    height: 1000px;
    background-color: #4ECDC4;
}

#gallery {
    width: 100%;
    height: 1000px;
    background-color: #000;
}